coverage*
doc*
tmp/metric_fu*
misc/determine_cassette_features.sql
misc/promoter_driven.png
misc/promoterless.png
misc/NorCoMM_example.png
misc/NorCoMM_from_string_example.png
misc/allele_image.png
misc/conditional.png
misc/five_arm.png
misc/many_exons.png
misc/non_conditional.png
misc/project_47462_from_string.pdf
misc/project_47462_from_string.png
misc/project_47462_non_conditional_allele.png
misc/promoter_driven.png
misc/promoterless.png
misc/project_47462_from_string.svg
misc/cassette_features.csv
misc/rules.csv
